div.navbar{
    width: 1024px;
    height: 65px;
}

.navbarli{
    width: 650px;
    height: 50px;
    line-height: 50px;
}

.navbarli ul{
    margin-right: 20px;
}
.navbarli ul li{
    margin-left: 40px;
}
.navbarli ul li a{
    font-size: 25px;  
}

.search{
    width: 258px;
    height: 50px;
    margin-left: 20px;
    line-height: 50px;
}
.search table tr td input[type="text"]{
    width: 200px;
    height: 20px;
    font-size: 16px;
}

.search table tr td input[type="submit"]{
    width: 50px;
    height: 26px;
}
